rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId;
      allow create: if request.auth.uid == userId;

      match /accounts/{accountId} {
        allow read, write: if request.auth.uid == userId;

        match /transactions/{transactionId} {
          allow read, write: if request.auth.uid == userId;
        }
      }
    }
  }
}
